{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<h4>up arrow to enter slideshow mode</h4>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<img src="../static/images/favicon.ico" style="float:right;">
				<h1 style="font-size: 60px;">LendingLounge.Rodeo</h1>
				<h1 style="font-size: 45px;">Aaron Bradley</h1>
				<div id="title-slide-content">
					<h2>
						A data-driven approach to optimizing ROI for peer-to-peer investors on LendingClub.com
					</h2>
					<img src="../static/images/insight.png" width="300">
					<img src="../static/images/lc_logo.png" width="300" style="float: right;">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>Peer-to-Peer Loans from Lending Club</h2>
				<div class="col-md-6" id="slide-1-plots">
					<div id="yearly-loan-issuance-plot"></div>
				</div>
				<div class="col-md-6">
					<h2 style="padding-top: 50px;">How can <b>You</b> maximize your ROI as an investor?</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>The Data</h2>
				<ul>
					<li><h3>~300,000 historical loans since 2007</h3></li>
					<li><h3>~100,000 paid or defaulted loans</h3></li>
				</ul>
				<div class="center" id="loan-status-plot"></div>
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<h2>Algorithms</h2>
			<div class="col-md-12 center">
				
				<img src="../static/images/algorithm_flowchart.png" width="1000">
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>Results - Case Study</h2>
				<div class="col-md-6">
					<div id="case-study-plot"></div>
				</div>
				<div class="col-md-6">
					<ul>
						<li>2000 Loans Originating Between 2011 - 2012</li>
						<li>All A, B, or C grades with 36 month terms</li>
						<li>Investments made across all grades using 4 strategies
							<ol>
								<li>Random Selection</li>
								<li>Lowest Borrower DTI</li>
								<li>Highest Interest Rates</li>
								<li>LendingLounge Algorithm</li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>Results - Case Study</h2>
				<div class="col-md-6">
					<div id="case-study-with-LL-plot"></div>
				</div>
				<div class="col-md-6">
					<ul>
						<li>2000 Loans Originating Between 2011 - 2012</li>
						<li>All A, B, or C grades with 36 month terms</li>
						<li>Investments made across all grades using 4 strategies
							<ol>
								<li>Random Selection</li>
								<li>Lowest Borrower DTI</li>
								<li>Highest Interest Rates</li>
								<li>LendingLounge Algorithm</li>
							</ol>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-8">
				<h2>Aaron Bradley</h2>
				<h2>PhD Physics @ <img src="../static/images/cal.png" width="100"> 
					- Builder of Atomic Scale Materials</h2>
				<img src="../static/images/stm_images.jpg" width="800">
			</div>
			<div class="col-md-4">
				<img src="../static/images/aaron.png" width="300">
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<h2>Workflow</h2>
			<div class="center">
				<img src="../static/images/workflow-chart.png" />
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>Algorithms</h2>
				<div class="col-md-6">
					<h3>Logistic Regression</h3>
					<div class="col-md-12" id="roc-plot"></div>
					
				</div>
				<div class="col-md-6">
					<h3>Random Forest Regression</h3>
					<div class="col-md-12" id="random-forest-plot"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row slide">
	<div class="panel panel-default slide-panel">
		<div class="panel-body">
			<div class="col-md-12">
				<h2>Performance of Logistic Regression Classifier</h2>
				<table>
					<thead>
						<tr>
							<th>Class</th>
							<th>Logistic Regressor Precision</th>
							<th>Dummy Classifier Precision</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Default</td>
							<td>38.7 &#177; 6.5 %</td>
							<td>15.9 &#177; 1.0 %</td>
						</tr>
						<tr>
							<td>Prepaid</td>
							<td>68.6 &#177; 0.5 %</td>
							<td>67.5 &#177; 0.6 %</td>
						</tr>
						<tr>
							<td>Fully Paid on Time</td>
							<td>47.8 &#177; 3.7 %</td>
							<td>16.6 &#177; 1.1 %</td>
						</tr>
					</tbody>
				</table>
				AUC:  0.6800902479
				AUC:  0.82963560271
				AUC:  0.716059682884
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/js/highcharts.js"/></script>
<script type="text/javascript" src="../static/js/presentation.js"></script>
<script type="text/javascript" src="../static/js/highcharts-more.js"></script>
{%  endblock %}